<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .container {
    width: 500px;
    height: 500px;
    background: #777;
  }

  .flex-container {
    width: 400px;
    margin: 0 auto;
    border: 1px solid red;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }

  .flex-item {
    border: 1px solid;
    padding: 5px;
  }

  .item-1 {
    align-self: center;
  }
</style>

<body>
  <div class="container">
    <div class="flex-container">
      <span class="flex-item item-1">item 1</span>
      <span class="flex-item item-2">item 2</span>
      <span class="flex-item item-3">item 3</span>
      <span class="flex-item item-4">item 4</span>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nihil magnam impedit necessitatibus
        maxime, at, laboriosam porro aliquam cumque facere voluptatem nisi voluptate iusto explicabo odit, quasi omnis
        asperiores in? </p>
    </div>
  </div>
</body>

</html>